.DS_Store

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## pck
*.pck

## iphone executable binary
godot.iphone.debug.arm

server/server
server/lobby/lobby

# Gogradle
.gogradle
.gradle
server/bin
server/game/gradle 
server/lobby/gradle
server/game/gradlew
server/lobby/gradlew
server/game/gradlew.bat
server/lobby/gradlew.bat

## ignore vendor. if U concern loose source in github. remove below line. and add vendor directory
vendor
