# Don't allow native line ending(CRLF) on Windows
## if not, godot editor will change line endings to LF on save
## which produces unwanted changes in working dir

# Text files
project.godot	text eol=lf
*.import	text eol=lf
*.gd		text eol=lf
*.tscn		text eol=lf


# Binaries
*.png		binary
