.DS_Store

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

# godot
*.import

# export things
export.cfg
*.pck
*.apk
godot.iphone.debug.arm
godot.iphone.debug.arm64

server/server
server/lobby/lobby

# Gogradle
.gogradle
.gradle
server/bin

## ignore vendor. if U concern loose source in github. remove below line. and add vendor directory
vendor
